body {
  background-color:  pink;
}

h1 {
  color: blue;
  font-size: medium; 
}

h2 {
  color: green;
  font-weight: normal

}

.completed {
  font-family:Georgia, 'Times New Roman', Times, serif
}

#tasks .completed {
  background-color: #ccc;
  text-decoration: underline;
}